{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OmniGether: Home</title>
    <link href="{%static 'images/logomaker.png'%}" rel="icon" />
    <link rel="stylesheet" href="{%static 'css/reset.css'%}" />
    <link rel="stylesheet" href="{%static 'css/style.css'%}" />
    <link rel="stylesheet" href="{%static 'css/font.css'%}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="//fonts.googleapis.com/css?family=Quicksand"
    />
  </head>
  <body>
    <header class="main-header">
      <ul>
        <li>
          <a href="{% url 'home' %}"
            ><img
              class="header-logo"
              src="{%static 'images/logomaker.png'%}"
              alt="logo"
          /></a>
        </li>
        <li><a href="#app">app</a></li>
        <li><a href="#extension">browser extension</a></li>
        <li><a href="#help">help</a></li>
        <li><a href="#about">About</a></li>
      </ul>
      <a href="{% url 'main' %}" class="getstart">get OmniGether</a>
    </header>
    <header class="responsive-header">
      <div>
        <a href="{% url 'home' %}"
          ><img
            class="header-logo"
            src="{%static 'images/logomaker.png'%}"
            alt="logo"
        /></a>
        <a href="{% url 'main' %}" class="getstart">get OmniGether</a>
      </div>
      <ul>
        <li><a href="#app">app</a></li>
        <li><a href="#extension">browser extension</a></li>
        <li><a href="#help">help</a></li>
        <li><a href="#about">About</a></li>
      </ul>
    </header>
    <div>
      <div class="headline">
        <h1>get start shopping with <span>OmniGether.</span></h1>
        <p>Smartest shopping assistant</p>
        <div><img src="{%static 'images/banner2.png'%}" alt="banner" /></div>
        <a href="{% url 'main' %}">get start</a>
      </div>
      <div class="feature-options">
        <div class="feature-option">
          <img src="{%static 'images/alarm.png'%}" alt="alarm" />
          <div class="feature-desc">
            <h2>Price Drop & Deal Alerts</h2>
            <p>
              Find out instantly when an item you're interested in drops in
              price, or something you're shopping for goes on sale.
            </p>
          </div>
        </div>
        <div class="feature-option">
          <img src="{%static 'images/search.png'%}" alt="Search" />
          <div class="feature-desc">
            <h2>Find Best Deal</h2>
            <p>
              OmniGether considers many different factors to find the best deal
              and shows you each of them
            </p>
          </div>
        </div>
        <div class="feature-option">
          <img src="{%static 'images/online-shopping.png'%}" alt="shopping" />
          <div class="feature-desc">
            <h2>Price Comparison</h2>
            <p>
              OmniGether lets you compare prices across thousands of retailers
              to make sure you're always getting the best deal.
            </p>
          </div>
        </div>
        <div class="feature-option">
          <img src="{%static 'images/packages.png'%}" alt="packages" />
          <div class="feature-desc">
            <h2>Back-in-Stock Alerts</h2>
            <p>
              Be the first to know when an item you want is available again.
            </p>
          </div>
        </div>
      </div>
      <div class="desc-alerts">
        <img
          class="alert-image resp-banner"
          src="{%static 'images/banner1.png'%}"
          alt="banner"
        />
        <div>
          <h3>Price Drop Alerts</h3>
          <p>
            Add any product to your Watchlist, and OmniGether will notify you
            whenever it drops in price.
          </p>
          <div class="short-desc">
            <img src="{%static 'images/alarm.png'%}" alt="alarm" />
            <div>
              <h4>Instant Alerts</h4>
              <p>
                Receive alerts instantly via email or notification. Never miss
                out on a great deal again.
              </p>
            </div>
          </div>
          <div class="short-desc">
            <img src="{%static 'images/settings.png'%}" alt="settings" />
            <div>
              <h4>Fully Configurable</h4>
              <p>
                Choose exactly what kinds of notifications you want, limit
                notifications to only popular retailers, and more.
              </p>
            </div>
          </div>
          <div class="short-desc">
            <img src="{%static 'images/eyes.png'%}" alt="eyes" />
            <div>
              <h4>Always Watching</h4>
              <p>
                OmniGether continuously checks the price of all the products in
                your Watchlist, and lets you know when it finds a change.
              </p>
            </div>
          </div>
        </div>
        <img class="alert-image" src="{%static 'images/banner1.png'%}" alt="banner" />
      </div>
      <div class="desc-alerts">
        <img
          class="alert-image resp-banner"
          src="{%static 'images/leptop.png'%}"
          alt="banner"
        />
        <img class="alert-image" src="{%static 'images/leptop.png'%}" alt="banner" />
        <div>
          <h3>Find Best Deal</h3>
          <p>
            Add any product to your Watchlist, and OmniGether will notify you
            whenever it drops in price.
          </p>
          <div class="short-desc">
            <img src="{%static 'images/alarm.png'%}" alt="alarm" />
            <div>
              <h4>Instant Alerts</h4>
              <p>
                Receive alerts instantly via email or notification. Never miss
                out on a great deal again.
              </p>
            </div>
          </div>
          <div class="short-desc">
            <img src="{%static 'images/settings.png'%}" alt="settings" />
            <div>
              <h4>Fully Configurable</h4>
              <p>
                Choose exactly what kinds of notifications you want, limit
                notifications to only popular retailers, and more.
              </p>
            </div>
          </div>
          <div class="short-desc">
            <img src="{%static 'images/eyes.png'%}" alt="eyes" />
            <div>
              <h4>Always Watching</h4>
              <p>
                OmniGether continuously checks the price of all the products in
                your Watchlist, and lets you know when it finds a change.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="desc-alerts">
        <img
          class="alert-image resp-banner"
          src="{%static 'images/banner1.png'%}"
          alt="banner"
        />

        <div>
          <h3>Price Comparison</h3>
          <p>
            Add any product to your Watchlist, and OmniGether will notify you
            whenever it drops in price.
          </p>
          <div class="short-desc">
            <img src="{%static 'images/alarm.png'%}" alt="alarm" />
            <div>
              <h4>Instant Alerts</h4>
              <p>
                Receive alerts instantly via email or notification. Never miss
                out on a great deal again.
              </p>
            </div>
          </div>
          <div class="short-desc">
            <img src="{%static 'images/settings.png'%}" alt="settings" />
            <div>
              <h4>Fully Configurable</h4>
              <p>
                Choose exactly what kinds of notifications you want, limit
                notifications to only popular retailers, and more.
              </p>
            </div>
          </div>
          <div class="short-desc">
            <img src="{%static 'images/eyes.png'%}" alt="eyes" />
            <div>
              <h4>Always Watching</h4>
              <p>
                OmniGether continuously checks the price of all the products in
                your Watchlist, and lets you know when it finds a change.
              </p>
            </div>
          </div>
        </div>
        <img class="alert-image" src="{%static 'images/banner1.png'%}" alt="banner" />
      </div>
      <div class="desc-alerts">
        <img
          class="alert-image resp-banner"
          src="{%static 'images/leptop.png'%}"
          alt="banner"
        />
        <img class="alert-image" src="{%static 'images/leptop.png'%}" alt="banner" />
        <div>
          <h3>Back-in-Stock Alerts</h3>
          <p>
            Add any product to your Watchlist, and OmniGether will notify you
            whenever it drops in price.
          </p>
          <div class="short-desc">
            <img src="{%static 'images/alarm.png'%}" alt="alarm" />
            <div>
              <h4>Instant Alerts</h4>
              <p>
                Receive alerts instantly via email or notification. Never miss
                out on a great deal again.
              </p>
            </div>
          </div>
          <div class="short-desc">
            <img src="{%static 'images/settings.png'%}" alt="settings" />
            <div>
              <h4>Fully Configurable</h4>
              <p>
                Choose exactly what kinds of notifications you want, limit
                notifications to only popular retailers, and more.
              </p>
            </div>
          </div>
          <div class="short-desc">
            <img src="{%static 'images/eyes.png'%}" alt="eyes" />
            <div>
              <h4>Always Watching</h4>
              <p>
                OmniGether continuously checks the price of all the products in
                your Watchlist, and lets you know when it finds a change.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="headline">
        <h1 class><span>Websites</span> we support:</h1>
        <ul class="websites">
          <li><img src="{%static 'images/amazon.png'%}" alt="amazon" /></li>
          <li><img src="{%static 'images/ebay.png'%}" alt="ebay" /></li>
          <li><img src="{%static 'images/etsy.png'%}" alt="etsy" /></li>
          <li><img src="{%static 'images/aliexpress.png'%}" alt="aliexpress" /></li>
          <li><img src="{%static 'images/alibaba.png'%}" alt="alibaba" /></li>
          <li><img src="{%static 'images/bestbuy.jpg'%}" alt="bestbuy" /></li>
        </ul>
      </div>
      <div class="price-list">
        <h2>Pricing:</h2>
        <h4>Straightforward, Fair, Competitive Pricing</h4>
        <div class="pricing-boxes">
          <div class="pricing-box">
            <div><h3>Basic Plan</h3></div>
            <div class="pricing-content">
              <p>0$/Month</p>
              <p>Free 30 credit</p>
              <p>Price Drop Alerts</p>
              <p>Back-in-Stock Alerts</p>
              <p>Deal Alerts</p>
              <p>Find best Deals</p>
              <a href="{% url 'main' %}"><button>Get Start</button></a>
            </div>
          </div>
          <div class="pricing-box">
            <div><h3>Medium Plan</h3></div>
            <div class="pricing-content">
              <p>15$/Month</p>
              <p>300 credit</p>
              <p>Price Drop Alerts</p>
              <p>Back-in-Stock Alerts</p>
              <p>Deal Alerts</p>
              <p>Find best Deals</p>
              <p>Compare Price</p>
              <p class="assistant-help">Shopping assistant help</p>
              <button>Comming Soon</button>
            </div>
          </div>
          <div class="pricing-box">
            <div><h3>Premium Plan</h3></div>
            <div class="pricing-content">
              <p>30$/Month</p>
              <p>1000 credit</p>
              <p>Price Drop Alerts</p>
              <p>Back-in-Stock Alerts</p>
              <p>Deal Alerts</p>
              <p>Find best Deals</p>
              <p>Compare Price</p>
              <p class="assistant-help">Shopping assistant help</p>
              <button>Comming Soon</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer">
        <div>
          <ul>
            <li class="footer-header">get omnigether</li>
            <li><a href="#">for chrome browser</a></li>
            <li><a href="#">for safari browser</a></li>
            <li><a href="#">for edge browser</a></li>
          </ul>
        </div>
        <div>
          <ul>
            <li class="footer-header">learn more</li>
            <li><a href="#">app</a></li>
            <li><a href="#">browser extension</a></li>
            <li><a href="#">help</a></li>
            <li><a href="#">about</a></li>
          </ul>
        </div>
        <div>
          <ul>
            <li class="footer-header">legal</li>
            <li><a href="#">privacy</a></li>
            <li><a href="#">terms</a></li>
          </ul>
        </div>
        <div>
          <ul>
            <li class="footer-header">subscribe for update</li>
            <li class="subtext">
              Get the latest news, and updates on OmniGether. You'll be glad you
              did!
            </li>
            <li class="sendemail">
              <input type="email" name="email" id="email" />
              <button>Subscribe</button>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <p>© 2022 OmniGether. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>